@model Standus_5_0.Areas.HumanResource.Models.Holidays

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
             @Html.Raw(@TempData["Alert"]) 
        </div>
    </div>
</div>

<h5>Holidays</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sDate" class="control-label"></label>
                <input asp-for="sDate" class="form-control" />
                <span asp-validation-for="sDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reminder" class="control-label"></label>
                <input asp-for="Reminder" class="form-control" />
                <span asp-validation-for="Reminder" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="HeadID" class="control-label"></label>
                <Select asp-for="HeadID" class="form-control" asp-items="ViewBag.HeadID"></Select>
                <span asp-validation-for="HeadID" class="text-danger" ></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                    <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {

        // Set headid disabled

        $("#HeadID").prop('readonly',true);

        // Set the current date as default in the date input
        let currentDate = new Date().toISOString().split('T')[0];
        $("#sDate").val(currentDate);

        currentDate = new Date();
        currentDate.setDate(currentDate.getDate()-1);
        $("#Reminder").val(currentDate.toISOString().split('T')[0]);

        //$("#Reminder").css('disabled','disabled');
        // Add focus event to the date input field

        $('#sDate').on('change', function (event) {
            let date = new Date($("#sDate").val());

            // Subtract 1 day from the current date
            date.setDate(date.getDate() - 1);

            // Format the date to YYYY-MM-DD (for the input type="date")
            let formattedDate = date.toISOString().split('T')[0];

            // Set the value of the date input to the new date (previous day)
            $("#Reminder").val(formattedDate);
        });
    });    
</script>
