@model Standus_5_0.Areas.HumanResource.Models.SlabDetails

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<h5>Slab Details</h5>
<hr />
<form asp-action="Create">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="SlabID" class="form-control" type=hidden />
    <input type="hidden" asp-for="CategoryID" class="form-control" >
<div class="row">                
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FromAmount" class="control-label">From Amount</label>
                <input asp-for="FromAmount" class="form-control" />
                <span asp-validation-for="FromAmount" class="text-danger"></span>
            </div>
            </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ToAmount" class="control-label">To Amount</label>
                <input asp-for="ToAmount" class="form-control" />
                <span asp-validation-for="ToAmount" class="text-danger"></span>
            </div>
            </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Type" class="control-label">Type</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            </div>
    </div>
    <div class="row align-items-lg-center">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Employee" class="control-label">Employee</label>
                <input asp-for="Employee" class="form-control" />
                <span asp-validation-for="Employee" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Employer" class="control-label">Employer</label>
                <input asp-for="Employer" class="form-control" />
                <span asp-validation-for="Employer" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label"></label>
                <input type="submit" value="Create" class="btn btn-primary" /> |
                @if (ViewBag.AllowanceID > 0) {
                    <a href="/humanresource/slabcategories/create?id=@ViewBag.AllowanceID">Back to List</a>
                }else {
                    <a href="/humanresource/slabcategories/create?id=0&deductionid=@ViewBag.DeductionID">Back to List</a>
                }
            </div>
        </div>
</div>
</form>

<br>
<div id="slabdetails">
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("index", "SlabDetails")',  // Ensure this is the correct URL for your action
            type: 'GET',
            data: {
                slabid: @ViewBag.SlabID, categoryid: @ViewBag.CategoryID
            },
            success: function (result) {
                $('#slabdetails').html(result);
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error: " + error);
            }
        });
    });

</script> 