@model IEnumerable<Standus_5_0.Areas.HumanResource.Models.DeductionDetails>

@{
    ViewData["Title"] = "Deduction";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<div class="flex-header-container">
    <div>
        <h5>Deduction | </h5>
    </div>

    <div>
        Total Employee Contribution :
    </div>

    <div>
        <span id="employee"></span>
    </div>
    <div>
        Total Employer Contribution :
    </div>

    <div>
        <span id="employer"></span>
    </div>
</div>
<table class="table table-bordered table-striped ">
    <thead>
        <tr class="table-success">
            <th>
                Deduction Type
            </th>
            <td>
                Employee Contribution
            </td>
            <td>
                Employer Contribution
            </td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="data">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Employer)
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        var employee;
        var employer;
        var amount ;

        employee = 0 ; employer = 0; amount = 0;

        $(".data").each(function(index,item){
            amount = $(item).find('td').eq(1).text();
            employee += Number(amount) ;
            amount = $(item).find('td').eq(2).text();
            employer += Number(amount) ;
        })

        $("#employee").html(employee);
        $("#employer").html(employer);
    })
</script>
