@model IEnumerable<dynamic>  
<!-- Define the model as a dynamic collection -->
@{
    ViewData["Title"] = "Slab Setup";
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Deduction Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Deduction</td>
                    <td>
                        <a href="/HumanResource/SlabDetails/Create?SlabID=@item.SlabID">Create Slab</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
