@model IEnumerable<Standus_5_0.Areas.HumanResource.Models.Education>


<table class="table table-bordered table-striped">
    <thead>
        <tr class="table-success">
            <th>
                Education Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationType)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
