@model Standus_5_0.Areas.HumanResource.Models.Slab

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Slab</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowanceID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SlabID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
